/.idea/.gitignore
/.idea/dictionaries/shado.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/TextToPDF.iml
/.idea/vcs.xml
TOKEN.env
/tmp_files/
